@model StripeModel

<div class="parallax-background">
    <div class="intro-text">
        Training so big, it's Monstrous
        <p><i class="fi-arrow-down"></i></p>
    </div>
</div>

<div class="parallax-content">
    <header class="header">
        <h2 class="headline"></h2>
    </header>
    <div class="row medium-9 large-9 columns">
        <h3>Get Training for ASP.NET Core from the Monsters</h3>
        <img src="~/images/logo_400.png" class="monster-image" />
        <p>
            We are pleased to offer a series of workshops that we focused on ASP.NET Core and the updated MVC Framework.
            We're not just covering the introductory content here; this workshop is
            for experienced developers who need to get up to speed on how to build
            applications with Microsoft's latest version of ASP.NET
        </p>
        <h3>The Latest Code. The Latest Tools.</h3>
        <p>
            ASP.NET Core MVC diverges from ASP.NET and MVC of the past, but builds on
            what you already know. This three-day <i>absolutely packed</i> workshop uses a
            series of labs to walk you through the development of an application. At the
            end of the workshop you'll walk away with:
            <ul>
                <li>A solid foundation of ASP.NET Core with which you can build MVC applciations</li>
                <li>Exposure to configuration, testing and extensibility</li>
                <li>Tips, samples and excercises that will guide you as you build software in the cloud</li>
                <li>An understanding of data access using the latest version of Entity Framework</li>
                <li>Access to the labs and source code used in the workshop</li>
            </ul>
        </p>
        <p>
            <strong>This is a proctored workshop</strong> that includes access to three of
            the leaders in ASP.NET Core development, Simon Timms, James Chambers and David Paquette.
            Known as the ASP.NET Monsters, Simon, James and Dave host a twice-weekly show on
            Microsoft Channel 9 covering all aspects of development with ASP.NET Core and related
            technologies.
        </p>
        <p>
            There is a maximum of <strong>8 students per Monster</strong>, meaning you
            will get the 1 on 1 time you need to complete the learning objectives laid out in the
            curriculum.
        </p>
        <p>
            <strong>Check out the workshop outline below.</strong>
        </p>

        <div class="callout">
            <ul class="menu simple">
                <li>June 14th-16th</li>
                <li>1950 Meadowvale Blvd. Mississauga, ON L5N 8L9</li>
                <li>CAD $1999/dev</li>
                <li>Group rates available</li>
                <li>
                    <div>
                        <form action="/Registration/Complete" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="@Model.Key"
                                    data-amount="199900"
                                    data-name="ASP.NET Monsters"
                                    data-description="Mississauga ASP.NET Core Training"
                                    data-image="/images/small_logo.png"
                                    data-locale="auto"
                                    data-billing-address="true"
                                    data-currency="cad"
                                    data-zip-code="true"
                                    data-label="Sign up for the Mississauga class">
                            </script>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="callout">
            <ul class="menu simple">
                <li>June 5th 2017</li>
                <li>1405 St. Matthews Ave Winnipeg, MB R3G 0K5</li>
                <li>CAD $399/dev or $299/dev with conference registration</li>
                <li>
                    <div>
                        <form action="/Registration/Complete" method="POST">
                            <button onclick="document.location='http://prairiedevcon.com/Workshops'" class="stripe-button-el">
                                <span style="display: block; min-height: 30px;">
                                    Sign up for the single day Winnipeg class
                                </span>
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <header class="header">
        <h1 class="headline">Let's mash on this.</h1>
        <ul class="header-subnav show-for-medium">
            <li><a href="#intro">Intro</a></li>
            <li><a href="#mvcplus">MVC</a></li>
            <li><a href="#ef">Data Access</a></li>
            <li><a href="#messaging">Messaging</a></li>
            <li><a href="#identity">Auth</a></li>
            <li><a href="#cloud">Cloud</a></li>
            <li><a href="#mashmashmash">More Mashing</a></li>
        </ul>
    </header>

    <div class="row medium-9 large-9 columns">
        <h2 class="show-for-medium">We'll cover the bases. And the end zone.</h2>
        <p>
            We're going to be digging in on several fronts for three solid days of
            skills refreshment and development in many areas of building web applications.
            (Click to expand module details)
        </p>
        

        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Introduction to ASP.NET MVC Core</a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        We'll call this the "warm-up" session. For anyone who's done work in
                        MVC Prevoiusly, this will all feel familiar, yet different. If you're new
                        to MVC, get ready, because this is where your learning curve starts.
                    </p>
                    <table>
                        <tr><td>File -> New -> Project</td></tr>
                        <tr><td>Wiring up Dependency Injection</td></tr>
                        <tr><td>Testing in .NET Core</td></tr>
                        <tr><td>Configuring your application</td></tr>
                        <tr><td>Logging because storage is cheap</td></tr>
                    </table>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item id="">
                <a href="#" class="accordion-title">MVC <small>...and All The Other Bits</small></a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        There's more to MVC than just models, views and controllers. In this
                        section of the workshop we're going to look at other aspects of the framework
                        and tooling that help you build great software.
                    </p>
                    <table>
                        <tr><td>Building Razor views</td></tr>
                        <tr><td>Complex Model binding</td></tr>
                        <tr><td>Building forms with Tag Helpers</td></tr>
                        <tr><td>Creating reusable components</td></tr>
                        <tr><td>Leveraging view services</td></tr>
                    </table>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item id="ef">
                <a href="#" class="accordion-title">Data Access</a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        Everyone's got to save some data, sometime. Entity Framework has proven
                        itself over the years and the new version makes data access possible on
                        any platform, using many different types of back-end stores. Learn how to break
                        down your models and get the best performance out of your data layer.
                    </p>
                    <table>
                        <tr><td>Querying and Saving data</td></tr>
                        <tr><td>Seeding database</td></tr>
                        <tr><td>Testing with in-memory contexts</td></tr>
                        <tr><td>Modelling with multiple contexts</td></tr>
                        <tr><td>Optimizing Queries</td></tr>
                        <tr><td>Exploring Micro ORMs with Dapper.NET</td></tr>
                    </table>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item id="messaging">
                <a href="#" class="accordion-title">Messaging Patterns in ASP.NET Core <small>with MediatR</small></a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        Modern applications need to survive scale, and with very little effort
                        you can help shape your application in such a way that it can better respond
                        to scaling needs, all the while making it easier to maintain.
                    </p>
                    <table>
                        <tr><td>Creating a Query Feature</td></tr>
                        <tr><td>Commands and Events</td></tr>
                        <tr><td>Subscribing to Events</td></tr>
                    </table>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item id="identity">
                <a href="#" class="accordion-title">Authentication and Authorization</a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        Line-of-Business app? Consumer-facing app? Either way, you're likely going to
                        need to know who's using your website before doing anything too terribly
                        interesting. We'll talk about how to wire up authentication, learn to work with claims
                        and create reusable authorization policies.
                    </p>
                    <table>
                        <tr><td>Authentication Middleware</td></tr>
                        <tr><td>Working with Claims</td></tr>
                        <tr><td>Creating Authorization Policies</td></tr>
                        <tr><td>Authentication Providers (Identity, AD Integration, Azure Active Directory B2C)</td></tr>
                    </table>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item id="cloud">
                <a href="#" class="accordion-title">To the Cloud!</a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        We want to set you up for success in how you build and deploy
                        applications. As monsters, we believe that your success is going to
                        largely live in or be affected by the cloud. In this module we'll be
                        diving into aspects of software development, demonstrating some best (and not-so-best)
                        practices so that you know what to leverage and what to avoid.
                    </p>
                    <table>
                        <tr><td>Write to a queue on MediatR event</td></tr>
                        <tr><td>Processing queues with Azure Functions</td></tr>
                        <tr><td>Publishing applications to Web Apps</td></tr>
                    </table>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item id="mashmashmash">
                <a href="#" class="accordion-title">Bonus Content <small>Just Keep Mashing...</small></a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        Depending on the compostion of the class and the speed at which
                        we move, we will likely have time for a few more topics to cover
                        in the workshop labs. We'll work with the class to choose which
                        of the following topics are of interest and round off the workshop
                        with some attendee-selected materials.
                    </p>
                    <table>
                        <tr><td>Asset management</td></tr>
                        <tr><td>Working with Bootstrap 4</td></tr>
                        <tr><td>TypeScript</td></tr>
                        <tr><td>Structured logging + Log aggregators</td></tr>
                        <tr><td>Microservice architecture in PaaS</td></tr>
                        <tr><td>Authentication with a Social Media provider</td></tr>
                    </table>
                </div>
            </li>

        </ul>
    </div>

    <header class="header">
        <h1 class="headline">
            Want a custom course? <br />
            <small>We can do that.</small>
        </h1>
    </header>
    <div class="row medium-9 large-9 columns">
        <p class="first-para">
            Don't use Azure? Got your heart set on Dapper over Entity Framework? If you've got a team looking for some guidance but our course doens't fit with what you need we can tailor a custom course. One day, two days, three days more, whatever you need.

        </p>
        <div id="root">

        </div>
    </div>

    <header class="header">
        <h1 class="headline">
            Not ready for the full-on workshop? <br />
            <small>No Problem.</small>
        </h1>
    </header>
    <div class="row medium-9 large-9 columns">
        <p class="first-para">
            <a href="https://aspnetmonsters.com/2016/12/aspnetcorebook/">
                <img src="~/images/book.png" class="monster-image" />
            </a>

            If you need a primer before you attend an in-person workshop we've got you
            covered. We recently published <a href="https://aspnetmonsters.com/2016/12/aspnetcorebook/">
                ASP.NET
                Core Application Development
            </a> through Microsoft Press that will help you
            get up to speed.
            <br /><br />
            This book is packed with over 24 chapters, covering the rewrite
            of an application at Alpine Ski Hill. The development team in the book navigates
            the new framework and explores various aspects of application development
            in ASP.NET Core.
            <br /><br />
            Get your copy of <a href="https://aspnetmonsters.com/2016/12/aspnetcorebook/">
                the book
            </a> today.
        </p>

    </div>

</div>


